

.backcolor {
background: whitesmoke!important;
}

.navunder{
    text-decoration: underline!important;
}

.tailleFormulaire {
padding: 30px!important;
}

#searchbar{
    margin: auto;
    border-radius: 10px;
    border-width: 4px;
  }
@media (max-width : 750px){
.espace {
    margin-bottom: 10px!important;
    display: flex!important;
    margin:auto!important;
}
.centre {
    display: flex!important;
    margin:auto!important;
    margin-top: 10px!important;
}
}
@media (min-width : 750px){
.ms-6 {
    margin-left: 5rem!important ;
    width: fit-content!important;

}
}

